$backghround-color: LightGray;

@mixin hover-color($color) {
  &:hover{
    color: $color;
  }
}

@mixin navBtnStyle {
  width: 25px;
  heihgt: 25px;
  text-align: center;
  line-height: 25px;
  vertical-align: middle;
  font-size: 16px;
  border-radius: 50%;
  background-color: DimGrey;
  color: white;
  font-weight: bold;
  margin-right: 5px;
}

body {
  background-color: $backghround-color;

  h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
    @include hover-color(red);
  }

  #form {
    width: 420px;
    margin: 0 auto;

    #newItem {
      background-color: linen;
      width: 400px;
      height: 100px;
      border: 1px solid black;
      display: block;
      margin-bottom: 10px;
    }

    .btn {
      width: 120px;
      height: 50px;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      background-color: DimGrey;
      color: white;
      font-weight: bold;
    }

    #saveBtn {
      display: none;
    }
  }

    #sortMenu {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    //display: none;
  }

  #searchForm {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;

    input {
      width: 250px;
    }
  }

  .list-note {
    width: 600px;
    height: 40px;
    border: 1px solid black;
    background-color: linen;
    margin: 0 auto 10px auto;
    display: flex;
    justify-content: space-between;

    div {

      //align-items: center;
    }

    .btn-container {
      display: flex;
      width: 230px;
      justify-content: space-between;
    }

    .button{
      width: 50px;
      height: 30px;
      color: white;
      font-weight: bold;
      align-self: center;
      text-align: center;
      line-height: 30px;
      vertical-align: middle;
      background-color: green;
      &:hover{
        cursor: pointer;
      }

    }

    .deleteBtn {
      background-color: red;
    }

    .editBtn {
      background-color: green;
    }

    .itemText, .itemDate {
      align-self: center;
    }

    .itemDate {
      width: 120px;
    }
  }

  #navigatorContainer {
    width: 600px;
    heigth: 30px;
    //border: 3px solid red;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    #btnNavigator {

      width: 300px;
      //margin: 10px auto;
      height: 30px;
      //border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;

       #navSelectedButton {
          background-color: green;
        }
    }

    .navButton {
      @include navBtnStyle;
    }

    #navPrev,
    #navNext {
      @include navBtnStyle;
    }

    #navPrev:hover,
    #navNext:hover {
      background-color: green;
    }
  }
}